.block-1__inner{
  padding-bottom: 1.5rem;
}
.block-1__items{
  display: flex;
  flex-wrap: wrap;
  
  background: #B3F95A;
}
.block-1__item{
  display: flex;
  flex: 1 1 300px;

  padding: 5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;

  font-size: 5.3rem;
  line-height: 6.2rem;
  color: #FFFFFF;

  background: #8AD191;

  justify-content: center;
}
.item-1{
flex-grow: 1;
}
.item-2{
  flex-grow: 2;
}
.item-3{
flex-grow: 0;
/* margin-right: 0; */
}
.item-4{
  flex-grow: 3;
  /* margin-bottom: 0; */
}
.item-5{
flex-grow: 0;
/* margin: 0; */
}
.block-1__item:first-child::before{
  content: "1";
}
.block-1__item:nth-child(2)::before{
  content: "2";
}
.block-1__item:nth-child(3)::before{
  content: "3";
}
.block-1__item:nth-child(4)::before{
  content: "4";
}
.block-1__item:last-child::before{
  content: "5";
}
